<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="UTf-8">
	<title>Lista Telefonuca</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/ui-style.css">

	<script src="angular.min.js"></script>
  <script src="angular-messages.min.js"></script>

	<script src="js/app.js"></script>
	<script src="js/controllers/CrtlApp.js"></script>
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>
	<script src="js/filters/nameFilter.js"></script>
	<script src="js/filters/elipsisFilter.js"></script>
	<script src="js/directive/uiAlertDirective.js"></script>
</head>
<body ng-controller="CrtlApp">
<div class="jumbotron">

	<div ui-alert></div>

	<h3>{{app}}</h3>



<input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que voce esta buscando"/>
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Seria</a></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-class="{danger: contato.selecionado}" ng-repeat="contato in contatos | filter:{nome:criterioDeBusca} | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<td><input type="checkbox" ng-model="contato.selecionado"></td>
				<td>{{contato.serial}}</td>
				<td>{{contato.nome | name | elipsis:10 }}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
				<td><div style="width:20px; height:20px;" ng-style="{'background-color': contato.cor}"></div></td>
			</tr>
		</tbody>
	</table>
	<hr>

  <form name="contatoForm">
    <input type="text" ng-model="contato.nome" class="form-control" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10">
  	<input type="text" ng-model="contato.telefone" class="form-control" placeholder="Telefone" name="telefone" ng-required="true">
  	<select  class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras" ng-required="true">
  		<option value="">Selecione uma operadora</option>

  	</select>
  </form>

  <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>

	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar</button>
	<button class="btn btn-danger btn-block" ng-click="removerContato(contatos)" ng-if="isChecado(contatos)">Remover</button>
</div>
<script type="text/javascript">


</script>
</body>
</html>
